.ts_wrap {
  width: 100%;

  .ts_types {
    width: 100%;
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(auto-fill, 120px);
    grid-gap: 10px;
  }
}

// 分类项
.ti_wrap {
  padding: 5px 20px;
  background-color: rgb(36, 36, 37);
  text-align: center;
  cursor: pointer;
  border-radius: 5px;

  &:hover {
    color: rgb(36, 196, 130);
  }
}
